body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

.car {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 20px;
    transition: transform 0.3s ease-in-out;
}

.car:hover {
    transform: scale(1.05);
}

.car img {
    width: 95%;
    height: auto;
}

.car-content {
    padding: 20px;
}

.car h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.car p {
    margin: 0;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.description {
    display: none; 
    margin-top: 10px;
}

.description.show {
    display: block; 
}